body {
  display: flex;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#383838+0,141414+100 */
  background: #383838; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #383838 0%,
    #141414 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #383838 0%,
    #141414 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #383838 0%,
    #141414 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  font-family: "nunito", sans-serif;
}
h2 {
  display: flex;
  position: relative;
  font-size: 5rem;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(
    to bottom,
    #222 0%,
    #222 50%,
    #111 50%,
    #111 100%
  );
  -webkit-background-clip: text;
}
h2:before {
  content: attr(data-text);
  position: absolute;
  top: 3px;
  left: 4px;
  z-index: -1;
  background: #00f3ff;
  -webkit-background-clip: text;
  color: transparent;
  animation: animate 5s linear infinite;
}
h2:after {
  content: attr(data-text);
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: -2;

  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 15px #00f3ff;
  text-shadow: 0 0 25px #00f3ff;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

.crowd,
.musician {
  position: relative;
  width: 150px;
  height: 200px;
  background: #18191f;
  color: #555;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 30px;
  margin-top: 50px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
}
.crowd:before,
.musician:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 5px);
  height: calc(50% - 2px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
}
.crowd:hover,
.musician:hover {
  color: #e8e2ae;
  text-shadow: 0 0 2px #e8e2ae;
  text-shadow: 0 0 5px #e8e2ae;
}
.crowd:active,
.musician:active {
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: #fffed7;
  text-shadow: 0 0 15px #fffed7;
  text-shadow: 0 0 25px #fffed7;
}
@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.audience_crowd {
  display: flex;
  flex-direction: row !important;
}
.menu {
  height: 3.5rem;
  width: 3.5rem;
  background-color: #18191f;
  position: fixed;
  border-radius: 50%;
  margin: auto;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  top: 1.85rem;
  right: 1.85rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-size: 1.5rem;
  transition: all 0.1s;
  z-index: 2;
}
.menu:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 5px);
  height: calc(50% - 2px);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: rgba(255, 255, 255, 0.05);
}
.menu:hover {
  color: #e8e2ae;
  text-shadow: 0 0 2px #e8e2ae;
  text-shadow: 0 0 5px #e8e2ae;
}
.menu:active {
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: #fffed7;
  text-shadow: 0 0 15px #fffed7;
  text-shadow: 0 0 25px #fffed7;
}
.log-in,
.web-info,
.feedback {
  height: 3rem;
  width: 3rem;
  background-color: #18191f;
  position: fixed;
  border-radius: 50%;
  margin: auto;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #555;
  transition: all 0.1s;
  font-size: 2rem;
}
.web-info {
  transition: all 0.3s;
}
.feedback {
  transition: all 0.2s;
}
.log-in:before,
.web-info:before,
.feedback:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 5px);
  height: calc(50% - 2px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
}
.log-in:hover,
.web-info:hover,
.feedback:hover {
  color: #e8e2ae;
  text-shadow: 0 0 2px #e8e2ae;
  text-shadow: 0 0 5px #e8e2ae;
  transition: all 0.1s;
}
.log-in:active,
.web-info:active,
.feedback:active {
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: #fffed7;
  text-shadow: 0 0 15px #fffed7;
  text-shadow: 0 0 25px #fffed7;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s;
}
.modal.show{
  visibility: visible;
  opacity: 1;
}
.modal-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.modal-contents {
  text-align: center;
  position: relative;
  padding: 8rem 6rem;
  width: 40%;
  height: 50%;
  border-radius: 1rem;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#383838+0,141414+100 */
  background: #383838; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #383838 0%,
    #141414 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #383838 0%,
    #141414 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #383838 0%,
    #141414 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: opacity 2s;
}
#close-text {
  margin-top: -8px;
  text-align: center;
}
.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  background: #18191f;
  color: #555;
  font-size: 2rem;
  cursor: pointer;
  margin: 20px;
  border-radius: 5px;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.close-button:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0px;
  width: calc(100% - 2px);
  height: calc(50% - 2px);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: rgba(255, 255, 255, 0.05);
}
.close-button:hover {
  color: #FFA7A7;
  text-shadow: 0 0 2px #FFA7A7;
  text-shadow: 0 0 5px #FFA7A7;
}
.close-button:active {
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: #FFD8D8;
  text-shadow: 0 0 15px #FFD8D8;
  text-shadow: 0 0 25px #FFD8D8;
}
.room {
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(
    to bottom,
    #222 0%,
    #222 50%,
    #111 50%,
    #111 100%
  );
  -webkit-background-clip: text;
}